SERVICE_NAME=nidda
VERSION=0.0.1
HTTP_PORT=8080
SECRET_KEY=this_is_a_demo_key_just1234567_ok_so_dont_take_it_serious

#database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=nidaa_user
DB_PASSWORD=admin12
DB_NAME=nidaa_db
SSL_MODE=disable